h1 {
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: roboto;
  color: #f1faee;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  color: #bc4749;
  height: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: large;
  font-family: roboto;
}

td {
  padding: 10px;
  font-family: roboto;
  text-align: justify;
  font-size: small;
  padding-left: 50px;
  padding-right: 50px;
  color: #6d6875;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

:is(th, table) {
  background-color: rgba(255, 255, 255, 0.3);
}

table {
  border: 3px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}

body {
  background-image: linear-gradient(
    to right,
    #e63946,
    #a8dadc,
    #457b9d,
    #a8dadc,
    #e63946
  );
}

.container {
  overflow-x: auto;
}

/* Roboto font */
@font-face {
  font-family: roboto;
  src: url(/fonts/RobotoCondensed-Regular.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

div {
  font-family: roboto;
}
